@font-face {
  font-family: google-sans;
  src: url("./fonts/google-sans.woff2");
}

@font-face {
  font-family: roboto;
  src: url("./fonts/roboto.woff2");
}

@mixin flex-box($gap: 0rem, $direction: column) {
  display: flex;
  gap: $gap;
  flex-direction: $direction;
}

:root {
  --font-A: google-sans, system-ui;
  --font-B: roboto, system-ui;
  font-size: clamp(14px, 1vw, 18px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --text: hsl(0, 100%, 100%);
  --bg: hsl(0, 100%, 100%);
  --text-blue: hsl(215, 78%, 46%);
}

html,
body {
  height: 100%;
  width: 100%;
}

button {
  all: unset;
  cursor: pointer;
  width: fit-content;
}

main {
  width: 100%;
  height: 100%;
  @include flex-box();
}

section {
  width: 100%;
}

section.hero {
  position: relative;
  background-image: radial-gradient(
      ellipse at bottom,
      hsl(215, 78%, 46%) 5%,
      transparent 60%
    ),
    linear-gradient(136deg, transparent, hsl(199, 79%, 69%) 290%),
    linear-gradient(115deg, hsl(242, 76%, 77%), transparent 40%),
    linear-gradient(180deg, transparent 0, hsl(215, 78%, 46%) 70%),
    radial-gradient(
      ellipse at -70% -180%,
      transparent 80%,
      hsl(199, 79%, 69%) 0
    ),
    radial-gradient(ellipse at bottom, hsl(215, 78%, 46%) 40%, transparent 80%),
    radial-gradient(ellipse at 5% 340%, transparent 80%, hsl(237, 71%, 85%) 0);
  overflow-x: hidden;
  padding: 1rem;
  padding-top: 10rem;

  .container {
    @include flex-box(5rem, column);
    text-align: center;
    align-items: center;

    h1 {
      color: var(--text);
      font-family: var(--font-A);
      font-size: 3rem;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 1154px;
      gap: 2rem;
      position: relative;

      .image-box1 {
        position: relative;
        top: 90px;
        .card {
          position: absolute;
          border-radius: 0.7rem;
          object-fit: cover;
          object-position: center;

          &:nth-child(1) {
            width: 525px;
            height: 312px;
            right: 0;
            top: -10px;
          }

          &:nth-child(2) {
            width: 201px;
            height: 296px;
            right: 221px;
            top: 430px;
          }

          &:nth-child(3) {
            width: 201px;
            height: 296px;
            right: 0;
            top: 322px;
          }
        }
      }
      .image-box2 {
        position: relative;
        width: 368px;
        height: 842px;
        .card {
          width: 368px;
          height: 764px;
        }
      }
      .image-box3 {
        position: relative;
        top: 90px;

        .card {
          position: absolute;
          border-radius: 0.7rem;
          object-fit: cover;
          object-position: center;

          &:nth-child(1) {
            width: 201px;
            height: 296px;
            left: 0;
          }

          &:nth-child(2) {
            width: 482px;
            height: 296px;
            left: 221px;
            top: 110px;
          }

          &:nth-child(3) {
            width: 201px;
            height: 296px;
            left: 0;
            top: 316px;
          }

          &:nth-child(4) {
            width: 201px;
            height: 296px;
            left: 221px;
            top: 426px;
          }
        }
      }
    }
  }

  .get-started {
    @include flex-box(3rem, column);
    align-items: center;
    text-align: center;

    h2 {
      color: var(--text);
      font-family: var(--font-A);
      font-weight: 500;
      font-size: 2rem;
    }

    button {
      background-color: var(--bg);
      color: var(--text-blue);
      font-family: var(--font-B);
      text-transform: capitalize;
      font-weight: 700;
      padding: 0.8rem 2.2rem;
      border-radius: 50px;
      font-size: 0.9rem;
    }
  }
}
