// Font-faces

@font-face {
  font-family: google-sans;
  src: url("./fonts/google-sans.woff2");
}

@font-face {
  font-family: roboto;
  src: url("./fonts/roboto.woff2");
}

// Mixins

@mixin flex(
  $gap: 0,
  $direction: column,
  $align: flex-start,
  $justify: flex-start
) {
  display: flex;
  gap: $gap;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin fluid-font($min, $mid, $max) {
  font-size: clamp($min, $mid, $max);
}

// Root Variables

:root {
  font-size: clamp(14px, 0.8vw, 18px);

  --font-A: google-sans, system-ui;
  --font-B: roboto, system-ui;

  --bg: hsl(0, 0%, 100%);
  --bg-grey: hsl(210, 17%, 98%);
  --bg-darkblue: hsl(212, 90%, 15%);
  --text-white: hsl(0, 0%, 100%);
  --text-black: hsl(0, 0%, 0%);
  --text-blue: hsl(215, 78%, 46%);
  --text-green: hsl(173, 81%, 42%);
  --text-grey: hsl(0, 0%, 29%);
  --text-purple: hsl(263, 87%, 60%);
  --text-orange: hsl(5, 86%, 63%);

  --radius-card: 0.7rem;
  --radius-large: 50px;

  --shadow-card: 0 4px 16px hsla(0, 2%, 8%, 0.192);
}

// Resetting styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
}

// Global Styles

a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  font-family: var(--font-A);
}

button {
  all: unset;
  cursor: pointer;
  width: fit-content;
  font-family: var(--font-A);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-family: var(--font-A);
  @include fluid-font(2.4rem, calc(1.8rem + 1vw), 3.6rem);
  color: var(--text-white);
}

h2 {
  font-family: var(--font-A);
  @include fluid-font(1.8rem, calc(1.3rem + 0.7vw), 2.7rem);
}

h3 {
  font-family: var(--font-A);
  @include fluid-font(1.5rem, calc(1.1rem + 0.5vw), 2.1rem);
}

h4 {
  font-family: var(--font-A);
  @include fluid-font(1.3rem, calc(0.9rem + 0.4vw), 1.8rem);
}

p {
  font-family: var(--font-A);
  @include fluid-font(1rem, calc(0.8rem + 0.3vw), 1.25rem);
}

ul {
  list-style-type: none;
  font-family: var(--font-A);
}

// Main Layout Style

main {
  position: relative;
  z-index: 8;
  width: 100%;
  @include flex();
  overflow: hidden;
  top: 0;
  left: 0;
}

section {
  width: 100%;
}

// header

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  @include flex();

  .content {
    padding: 0 50px;
    @include flex(0, row, center, space-between);
    height: 86px;
    width: 100%;
    & > div {
      @include flex(0, row, center, flex-start);
    }
  }

  .content > div {
    .logo {
      position: relative;
      top: -2px;
      width: 125px;
      z-index: 15;
    }
  }

  .content .tray {
    .navigation {
      background-color: transparent;
      display: none;
      box-shadow: none;
      font-size: 1rem;
      margin-right: 5px;
    }
  }

  .search {
    display: none;
    margin-right: 24px;
    i {
      color: var(--text-white);
      display: inline-flex;
      height: 100%;
      left: 1px;
      top: 1px;
      position: relative;
      align-items: center;
      font-size: 18px;
    }
  }

  .get-started-btn {
    display: none;
    background-color: var(--bg);
    color: var(--text-blue);
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 50px;
  }

  .hamburger-btn {
    display: inline-flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;

    i {
      color: var(--text-white);
      position: relative;
      font-size: 25px;
      font-weight: 700;
    }
  }
}

.navigation {
  ul {
    text-wrap: nowrap;
    @include flex(0, row);
    font-size: 1.1rem;
    font-weight: 700;

    li {
      display: inline-block;
      margin-left: 8px;
    }

    a {
      color: var(--text-white);
      padding: 13px 16px;
      text-align: left;
    }
  }
}

// Hero section

.hero {
  padding: 10rem 0 6rem;

  background-image: radial-gradient(
      ellipse at bottom,
      hsl(215, 78%, 46%) 5%,
      transparent 60%
    ),
    linear-gradient(136deg, transparent, hsl(199, 79%, 69%) 290%),
    linear-gradient(115deg, hsl(242, 76%, 77%), transparent 40%),
    linear-gradient(180deg, transparent 0, hsl(215, 78%, 46%) 70%),
    radial-gradient(
      ellipse at -70% -180%,
      transparent 80%,
      hsl(199, 79%, 69%) 0
    ),
    radial-gradient(ellipse at bottom, hsl(215, 78%, 46%) 40%, transparent 80%),
    radial-gradient(ellipse at 5% 340%, transparent 80%, hsl(237, 71%, 85%) 0);

  .container {
    max-width: 1100px;
    margin: auto;
    @include flex(0, column, center, center);
    text-align: center;

    h1 {
      padding-bottom: 6rem;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: min(90%, 1100px);
      position: relative;
      gap: 2rem;
    }
  }
}

.card {
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
  object-fit: cover;
  object-position: center;
}

.image-box1 {
  position: relative;
  top: 110px;

  .card:nth-child(1) {
    width: 525px;
    height: 312px;
    right: 0;
    top: -10px;
    position: absolute;
  }
  .card:nth-child(2) {
    width: 201px;
    height: 296px;
    right: 221px;
    top: 432px;
    position: absolute;
  }
  .card:nth-child(3) {
    width: 201px;
    height: 296px;
    right: 0;
    top: 324px;
    position: absolute;
  }

  .card:nth-child(4) {
    width: 201px;
    height: 296px;
    right: 0;
    top: 322px;
    position: absolute;
  }
}

.image-box2 {
  position: relative;
  width: 286px;
  height: 842px;
  place-self: center;
  @include flex(row, 0);

  .card {
    width: 100%;
    height: auto;
    border-radius: clamp(1.5rem, 2rem, 2.7rem);
  }
}

.image-box3 {
  position: relative;
  top: 110px;

  .card:nth-child(1) {
    width: 201px;
    height: 296px;
    left: 0;
    top: 0;
    position: absolute;
  }
  .card:nth-child(2) {
    width: 482px;
    height: 296px;
    left: 221px;
    top: 110px;
    position: absolute;
  }
  .card:nth-child(3) {
    width: 201px;
    height: 296px;
    left: 0;
    top: 316px;
    position: absolute;
  }
  .card:nth-child(4) {
    width: 201px;
    height: 296px;
    left: 221px;
    top: 426px;
    position: absolute;
  }
}

.get-started {
  position: relative;
  z-index: 5;
  @include flex(2.5rem, column, center, center);
  text-align: center;
  margin-top: 5rem;

  h2 {
    font-weight: 300;
    max-width: 880px;
    color: var(--text-white);
    padding-inline: 1rem;
  }

  button {
    background: var(--bg);
    color: var(--text-blue);
    font-family: var(--font-A);
    font-weight: 700;
    padding: 0.8rem 2.3rem;
    border-radius: var(--radius-large);
    @include fluid-font(0.9rem, calc(0.84rem + 0.2vw), 1.1rem);
  }
}

// tabs section

.tabs {
  padding-top: 5rem;

  .container {
    width: calc(100% - 75px);
    max-width: 1100px;
    margin-inline: auto;
  }

  .tab-header {
    @include flex(3rem, column, center, center);
    text-align: center;
    margin-bottom: 3rem;

    h2 {
      max-width: 850px;
      font-weight: 300;
    }

    .tab-menu {
      background-color: var(--bg);
      display: flex;
      border-radius: var(--radius-large);
      text-wrap: nowrap;

      button {
        padding: 0.5rem 1.5rem;
        font-family: var(--font-A);
        font-weight: 600;
        color: var(--text-blue);
        border-radius: var(--radius-large);
        @include fluid-font(1rem, calc(0.9rem + 0.2vw), 1.1rem);
      }

      button.active {
        background: var(--text-blue);
        color: var(--text-white);
      }
    }
  }

  .tab-content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    max-width: 1100px;
    width: calc(100% - 50px);
    margin-inline: auto;

    .media {
      @include flex(0, column, center, center);
      video {
        min-width: 225px;
        width: 100%;
      }
    }

    .text {
      padding: clamp(0.8rem, 1vw, 1.5rem);

      h3 {
        color: var(--text-green);
        font-weight: 600;
      }

      p {
        color: var(--text-grey);
        font-weight: 500;
        margin-block: 1.5rem;
        width: 75%;
        line-height: 1.3;
      }

      button {
        font-family: var(--font-A);
        color: var(--text-blue);
        border: 1px solid var(--text-blue);
        padding: 0.8rem 2.2rem;
        border-radius: var(--radius-large);
        font-weight: 600;
      }
    }
  }
}

// feature section
.feature {
  .container {
    max-width: 1100px;
    width: calc(100% - 50px);
    margin-inline: auto;
  }

  .feature-box {
    display: grid;
    grid-template-columns: 1fr;
    padding-block: 3rem;

    .media {
      margin-bottom: 3rem;
      overflow: hidden;
      order: 1;
      width: fit-content;

      img {
        max-width: 550px;
      }
    }

    .text {
      padding: 1rem;
      order: 2;
      font-family: var(--font-A);
      align-self: center;
    }
  }

  .feature-box {
    max-width: 1100px;
    margin-inline: auto;
    .text {
      padding: 1rem;
      h4 {
        margin-bottom: 0.5rem;
      }

      h2 {
        margin-bottom: 2rem;
      }

      p {
        max-width: 90%;
        line-height: 1.5;
        margin-bottom: 2rem;
      }

      button {
        color: var(--text-blue);
        border: 1px solid var(--text-blue);
        padding: 0.5rem 1.5rem;
        border-radius: var(--radius-large);
        font-weight: 600;
      }
    }

    &:nth-child(1) .text h4 {
      color: var(--text-blue);
    }

    &:nth-child(2) .text h4 {
      color: var(--text-green);
    }

    &:nth-child(3) .text h4 {
      color: var(--text-purple);
    }

    &:nth-child(4) .text h4 {
      color: var(--text-orange);
    }
  }
}

// dev stroy section

.dev-story {
  padding-block: 2rem;

  .container {
    background-image: linear-gradient(
      90deg,
      hsl(360, 100%, 76%),
      hsl(42, 81%, 88%)
    );
    border-radius: 40px;
    max-width: 1100px;
    width: calc(100% - 50px);
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;

    .text {
      padding: 3rem;

      h2 {
        margin-block: 1rem 2rem;
        font-weight: 400;
      }

      button {
        font-weight: 500;
      }
    }

    .media {
      position: relative;
      z-index: 1;

      img {
        position: static;
        height: auto;
        max-width: 385px;
      }
    }
  }
}

// community section

.community {
  overflow: hidden;
  padding-block: 2rem;

  .container {
    height: 715px;
    padding-top: 2rem;
    text-align: center;
    max-width: 1100px;
    width: calc(100% - 50px);
    margin-inline: auto;
    --center-piece-width: 220px;
    --center-piece-pad: 30px;
    --outer-width: 100px;
    --outer-padding: 18px;
    --border-radius: 12px;

    .logo-ground {
      @include flex(0, column, center, center);
      height: 535px;
    }

    .text {
      position: relative;
      text-align: center;
      top: -195px;
      z-index: 3;
    }
  }
}

.logo-ground .inner-fixed {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr var(--center-piece-width) 1fr 1fr 1fr;
  height: 100%;

  .logo-col {
    position: relative;

    div {
      background-color: var(--bg);
      width: var(--outer-width);
      height: var(--outer-width);
      padding: var(--outer-padding);
      border-radius: var(--border-radius);
      margin-bottom: 24px;
      box-shadow: 0px 0px 16px hsla(0, 0%, 0%, 0.1);
      display: grid;
      place-items: center;
    }

    div img {
      height: auto;
      max-width: 100%;
    }

    &:nth-child(1),
    &:nth-child(7) {
      top: -24px;
    }

    &:nth-child(2),
    &:nth-child(6) {
      top: -48px;
    }
    &:nth-child(3),
    &:nth-child(5) {
      top: 60px;
    }
  }

  .logo-col.logo-centerpiece div {
    height: var(--center-piece-width);
    width: var(--center-piece-width);
    padding: var(--center-piece-pad);
  }
}

.community .container .text {
  .heading-group {
    max-width: 780px;
    margin: 0 auto 2rem;
    h4 {
      font-weight: 500;
      color: var(--text-grey);
    }

    h1 {
      margin-top: 0.5rem;
      color: var(--text-black);
      line-height: 1;
    }
  }

  p {
    margin: 0 auto 2rem;
    max-width: 500px;
    color: var(--text-grey);
  }

  .button-group {
    @include flex(1rem, row, center, center);
    button {
      font-weight: 500;
      &:nth-child(1) {
        border: 1px solid var(--text-blue);
        color: var(--text-blue);
        padding: 0.5rem 1.5rem;
        border-radius: 50px;
      }
    }
  }
}

// dart section

.dart {
  padding-block: 2rem;

  .container {
    background-image: linear-gradient(
      90deg,
      hsl(213, 82%, 79%),
      hsl(187, 80%, 85%)
    );
    border-radius: 40px;
    max-width: 1100px;
    width: calc(100% - (50px * 2));
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;

    .text {
      padding: 2.5rem;
    }

    .media {
      position: relative;
      z-index: 1;
    }
  }

  .container .text {
    z-index: 2;
    h2 {
      margin-block: 1rem 2rem;
      font-weight: 400;
    }

    .button-group {
      @include flex(1rem, row, center, flex-start);
      flex-wrap: wrap;
      button {
        font-weight: 500;
        white-space: nowrap;
        &:nth-child(1) {
          padding: 0.5rem 1.5rem;
          border: 1px solid var(--text-black);
          color: var(--text-black);
          padding: 0.5rem 1.5rem;
          border-radius: 50px;
        }
      }
    }
  }

  .media {
    min-height: 325px;

    img {
      position: absolute;
      bottom: 0;
      right: 0;
      height: auto;
      max-width: 385px;
    }
  }
}

// News Section

.news {
  padding-block: 2rem;
  background-color: var(--bg-grey);

  .container {
    max-width: 1100px;
    width: calc(100% - (50px * 2));
    margin-inline: auto;
    margin-bottom: 1rem;
    h1 {
      color: var(--text-black);
    }
  }

  .carousel {
    .carousel-slider {
      @include flex(0, row, stretch);
      overflow-x: auto;
      overflow-y: hidden;
      padding: 20px 0 30px;
      position: relative;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
      padding-left: 50px;
      z-index: 5;
      margin-left: calc(50px * -1);

      &::before {
        content: "";
        display: block;
        height: 100px;
        padding-right: 50px;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.carousel-slider {
  .carousel-card {
    @include flex(0, row);
    align-content: space-between;
    flex-flow: wrap;
    background-color: var(--bg);
    height: 500px;
    min-width: 484px;
    max-width: 484px;
    border-radius: var(--radius-card);
    margin-right: 40px;
    padding: 3rem;
    padding-bottom: 3.5rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: var(--shadow-card);

    a {
      z-index: 2;
      width: 100%;
      &:nth-child(2) {
        font-weight: 900;
      }
    }

    img {
      margin-inline: auto;
      border-radius: 6px;
      margin-bottom: 24px;
      max-height: 202px;
      position: relative;
      object-fit: contain;
    }
  }
}

// newsletter section

.newsletter {
  margin-top: 2rem;

  .container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    max-width: 1100px;
    width: calc(100% - (50px * 2));
    margin-inline: auto;

    .text h1 {
      color: var(--text-black);
      line-height: 1;
    }

    .form {
      overflow: hidden;
    }
  }
}

.form form {
  fieldset {
    border: none;
  }

  h3 {
    color: var(--text-grey);
    margin-bottom: 1.5rem;
  }

  .field-wrapper {
    margin-bottom: 2rem;

    .field {
      @include flex(0, row, center);
      border: 1px solid transparent;
      border-radius: var(--radius-large);
      background-color: var(--bg-grey);
      height: 70px;
      padding: 0 2rem;
      @include fluid-font(1.3rem, calc(0.9rem + 0.4vw), 1.8rem);
    }
  }

  .field {
    i {
      color: var(--text-grey);
      margin-right: 1rem;
    }

    input[type="email"] {
      background-color: transparent;
      border: none;
      flex-grow: 1;
      position: relative;
      top: -1px;

      &::placeholder {
        @include fluid-font(1.3rem, calc(0.9rem + 0.4vw), 1.8rem);
      }
    }
  }
}

// cta section

.cta {
  padding-block: 2rem;

  .container {
    background-color: var(--bg-darkblue);
    max-width: 1100px;
    width: calc(100% - (50px * 2));
    margin-inline: auto;
    overflow: hidden;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;

    .text {
      padding-inline: 50px;
      padding-block: 96px;
      @include flex(0, column, flex-start, space-between);
      z-index: 2;
      color: var(--text-white);

      h1 {
        font-weight: 900;
        margin-bottom: 1.5rem;
      }

      p {
        margin-bottom: 1.5rem;
      }

      .button-group {
        @include flex(1rem, row, center, flex-start);
        flex-wrap: wrap;
        button {
          font-weight: 500;
          white-space: nowrap;
          &:nth-child(1) {
            padding: 0.5rem 1.5rem;
            background-color: var(--bg);
            border: 1px solid var(--text-white);
            color: var(--text-blue);
            padding: 0.5rem 1.5rem;
            border-radius: 50px;
          }
        }
      }
    }

    .media {
      right: 0;
      top: 0;
      border: 1px solid white;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        height: 100%;
        width: auto;
        top: 0;
        right: 0;
        bottom: auto;
      }
    }
  }
}

// footer

footer {
  background-color: var(--bg-grey);
  padding: 70px 3rem;
  width: 100%;

  .content {
    @include flex(0, column, flex-start, space-between);
    width: 100%;
  }

  .footer-main {
    padding-bottom: 65px;
  }

  .footer-social {
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
    padding-bottom: 34px;
  }

  .footer-tray {
    padding-top: 34px;
  }
}

.footer-main {
  .logo {
    margin-bottom: 50px;
    position: relative;
    top: -5px;
    width: 125px;
  }

  .footer-links {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;

    ul {
      display: inline-block;
      margin-bottom: 50px;
      margin-left: 1rem;
      font-size: 16px;
      font-weight: 300;
    }

    li {
      display: block;
      margin-bottom: 8px;
      color: var(--text-grey);
      &:first-child {
        font-weight: 700;
        color: var(--text-black);
      }
    }

    a {
      opacity: 0.7;
    }
  }
}

.footer-social > div {
  @include flex(0, row, center);

  a {
    margin-right: 1.25rem;
    i {
      font-size: 1.5rem;
      color: var(--text-grey);
    }
  }
}

.footer-tray {
  p {
    color: var(--text-grey);
    text-align: center;
    width: 100%;
    margin-bottom: 14px;
  }

  ul {
    text-align: center;
    width: 100%;

    li {
      display: inline;
      margin-left: 1rem;
      font-size: 1.1rem;
      a {
        color: var(--text-grey);
      }
    }
  }
}
// media queries

@media (min-width: 1024px) {
  header {
    .content .tray .navigation {
      display: inline-block;
    }
    .search {
      @include flex(0, row);
    }

    .get-started-btn {
      @include flex(0, row, center, center);
    }

    .hamburger-btn {
      display: none;
    }
  }

  .hero .container {
    .get-started {
      margin-top: 10rem;
    }
    & .gallery {
      .image-box2 {
        width: 368px;
      }
    }
  }

  .tabs .tab-content {
    grid-template-columns: 1fr 550px;
  }

  .feature .container {
    .feature-box {
      grid-template-columns: 1fr 1fr;

      .media img {
        max-width: 450px;
      }

      .media {
        order: 2;
      }

      .text {
        order: 1;
      }
    }

    .inverse {
      .media {
        order: 1;
      }
      .text {
        order: 2;
      }
    }
  }

  .dev-story .container {
    grid-template-columns: 1fr minmax(0, 441px);
    min-height: 315px;

    .media img {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .community .container {
    height: 900px;
    --outer-width: 163px;
    --outer-padding: 35px;
    --border-radius: 8px;
    --center-piece-width: 356px;
    --center-piece-pad: 35px;

    .logo-ground {
      height: 700px;
    }
  }

  .dart .container {
    grid-template-columns: 1fr minmax(0, 441px);
  }

  .news .carousel {
    .carousel-slider {
      padding-left: max(50px, calc((100vw - 1200px) / 2));
    }
  }

  .newsletter .container {
    grid-template-columns: 40% 1fr;
  }

  footer {
    .content {
      flex-direction: row;
    }
  }

  .footer-main .footer-links {
    grid-template-columns: repeat(3, 1fr);
    width: 55%;
  }

  .footer-tray {
    p {
      width: 70%;
    }

    ul {
      text-align: left;
      width: auto;
    }
  }
}
