@font-face {
  font-family: google-sans;
  src: url("./fonts/google-sans.woff2");
}
@font-face {
  font-family: roboto;
  src: url("./fonts/roboto.woff2");
}
:root {
  font-size: clamp(14px, 0.8vw, 18px);
  --font-A: google-sans, system-ui;
  --font-B: roboto, system-ui;
  --bg: hsl(210, 17%, 98%);
  --text-white: hsl(0, 0%, 100%);
  --text-blue: hsl(215, 78%, 46%);
  --text-green: hsl(173, 81%, 42%);
  --text-grey: hsl(0, 0%, 29%);
  --text-purple: hsl(263, 87%, 60%);
  --text-orange: hsl(5, 86%, 63%);
  --radius-card: 0.7rem;
  --radius-large: 50px;
  --shadow-card: 0 4px 16px hsla(0, 2%, 8%, 0.192);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

button {
  all: unset;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-family: var(--font-A);
  font-size: clamp(2.4rem, 1.8rem + 1vw, 3.6rem);
  color: var(--text-white);
}

h2 {
  font-family: var(--font-A);
  font-size: clamp(1.8rem, 1.3rem + 0.7vw, 2.7rem);
}

h3 {
  font-family: var(--font-A);
  font-size: clamp(1.5rem, 1.1rem + 0.5vw, 2.1rem);
}

h4 {
  font-family: var(--font-A);
  font-size: clamp(1.3rem, 0.9rem + 0.4vw, 1.8rem);
}

p {
  font-family: var(--font-A);
  font-size: clamp(1rem, 0.8rem + 0.3vw, 1.25rem);
}

main {
  width: 100%;
  display: flex;
  gap: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

section {
  width: 100%;
}

.hero {
  padding: 10rem 0 6rem;
  background-image: radial-gradient(ellipse at bottom, hsl(215, 78%, 46%) 5%, transparent 60%), linear-gradient(136deg, transparent, hsl(199, 79%, 69%) 290%), linear-gradient(115deg, hsl(242, 76%, 77%), transparent 40%), linear-gradient(180deg, transparent 0, hsl(215, 78%, 46%) 70%), radial-gradient(ellipse at -70% -180%, transparent 80%, hsl(199, 79%, 69%) 0), radial-gradient(ellipse at bottom, hsl(215, 78%, 46%) 40%, transparent 80%), radial-gradient(ellipse at 5% 340%, transparent 80%, hsl(237, 71%, 85%) 0);
}
.hero .container {
  max-width: 1024px;
  margin: auto;
  display: flex;
  gap: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero .container h1 {
  padding-bottom: 6rem;
}
.hero .container .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min(90%, 1150px);
  position: relative;
  gap: 2rem;
}

.card {
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.image-box1 {
  position: relative;
  top: 110px;
}
.image-box1 .card:nth-child(1) {
  width: 525px;
  height: 312px;
  right: 0;
  top: -10px;
  position: absolute;
}
.image-box1 .card:nth-child(2) {
  width: 201px;
  height: 296px;
  right: 221px;
  top: 432px;
  position: absolute;
}
.image-box1 .card:nth-child(3) {
  width: 201px;
  height: 296px;
  right: 0;
  top: 324px;
  position: absolute;
}
.image-box1 .card:nth-child(4) {
  width: 201px;
  height: 296px;
  right: 0;
  top: 322px;
  position: absolute;
}

.image-box2 {
  position: relative;
  width: 286px;
  height: 842px;
  place-self: center;
  display: flex;
  gap: row;
  flex-direction: 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-box2 .card {
  width: 100%;
  height: auto;
  border-radius: 2rem;
}

.image-box3 {
  position: relative;
  top: 110px;
}
.image-box3 .card:nth-child(1) {
  width: 201px;
  height: 296px;
  left: 0;
  top: 0;
  position: absolute;
}
.image-box3 .card:nth-child(2) {
  width: 482px;
  height: 296px;
  left: 221px;
  top: 110px;
  position: absolute;
}
.image-box3 .card:nth-child(3) {
  width: 201px;
  height: 296px;
  left: 0;
  top: 316px;
  position: absolute;
}
.image-box3 .card:nth-child(4) {
  width: 201px;
  height: 296px;
  left: 221px;
  top: 426px;
  position: absolute;
}

.get-started {
  position: relative;
  z-index: 5;
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
}
.get-started h2 {
  font-weight: 300;
  max-width: 880px;
  color: var(--text-white);
  padding-inline: 1rem;
}
.get-started button {
  background: var(--bg);
  color: var(--text-blue);
  font-family: var(--font-A);
  font-weight: 700;
  padding: 0.8rem 2.3rem;
  border-radius: var(--radius-large);
  font-size: clamp(0.9rem, 0.84rem + 0.2vw, 1.1rem);
}

.tabs {
  padding-top: 5rem;
}
.tabs .container {
  width: calc(100% - 75px);
  margin: auto;
}
.tabs .tab-header {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 3rem;
}
.tabs .tab-header h2 {
  max-width: 850px;
  font-weight: 300;
}
.tabs .tab-header .tab-menu {
  background-color: var(--bg);
  display: flex;
  border-radius: var(--radius-large);
  text-wrap: nowrap;
}
.tabs .tab-header .tab-menu button {
  padding: 0.7rem 2.2rem;
  font-family: var(--font-A);
  font-weight: 600;
  color: var(--text-blue);
  border-radius: var(--radius-large);
  font-size: clamp(1rem, 0.9rem + 0.2vw, 1.1rem);
}
.tabs .tab-header .tab-menu button.active {
  background: var(--text-blue);
  color: var(--text-white);
}
.tabs .tab-content {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  max-width: 1100px;
  margin-inline: auto;
}
.tabs .tab-content .media {
  display: flex;
  gap: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tabs .tab-content .media video {
  width: 100%;
}
.tabs .tab-content .text {
  padding: clamp(1rem, 1vw, 1.5rem);
}
.tabs .tab-content .text h3 {
  color: var(--text-green);
  font-weight: 600;
}
.tabs .tab-content .text p {
  color: var(--text-grey);
  font-weight: 500;
  margin-block: 1.5rem;
}
.tabs .tab-content .text button {
  font-family: var(--font-A);
  color: var(--text-blue);
  border: 1px solid var(--text-blue);
  padding: 0.8rem 2.2rem;
  border-radius: var(--radius-large);
  font-weight: 600;
}

.feature .container {
  width: calc(100% - 50px);
  margin: auto;
}
.feature .feature-box {
  display: grid;
  grid-template-columns: 1fr;
  padding-block: 3rem;
}
.feature .feature-box .media {
  margin-bottom: 3rem;
  overflow: hidden;
  order: 1;
}
.feature .feature-box .media img {
  max-width: 600px;
}
.feature .feature-box .text {
  padding: 1rem;
  order: 2;
  font-family: var(--font-A);
  align-self: center;
}
.feature .feature-box {
  max-width: 1100px;
  margin-inline: auto;
}
.feature .feature-box .text {
  padding: rem;
}
.feature .feature-box .text h4 {
  margin-bottom: 0.5rem;
}
.feature .feature-box .text h2 {
  margin-bottom: 2rem;
}
.feature .feature-box .text p {
  max-width: 90%;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.feature .feature-box .text button {
  color: var(--text-blue);
  border: 1px solid var(--text-blue);
  padding: 0.8rem 2.2rem;
  border-radius: var(--radius-large);
  font-weight: 600;
}
.feature .feature-box:nth-child(1) .text h4 {
  color: var(--text-blue);
}
.feature .feature-box:nth-child(2) .text h4 {
  color: var(--text-green);
}
.feature .feature-box:nth-child(3) .text h4 {
  color: var(--text-purple);
}
.feature .feature-box:nth-child(4) .text h4 {
  color: var(--text-orange);
}

@media (min-width: 1024px) {
  .hero .container .get-started {
    margin-top: 10rem;
  }
  .hero .container .gallery .image-box2 {
    width: 368px;
  }
  .tabs .tab-content {
    grid-template-columns: 1fr 350px;
  }
  .feature .container .feature-box {
    grid-template-columns: 1fr 1fr;
  }
  .feature .container .feature-box .media img {
    max-width: 500px;
  }
  .feature .container .feature-box .media {
    order: 2;
  }
  .feature .container .feature-box .text {
    order: 1;
  }
  .feature .container .inverse .media {
    order: 1;
  }
  .feature .container .inverse .text {
    order: 2;
  }
}/*# sourceMappingURL=style.css.map */