@font-face {
  font-family: google-sans;
  src: url("./fonts/google-sans.woff2");
}

@font-face {
  font-family: roboto;
  src: url("./fonts/roboto.woff2");
}

@mixin flex-box($gap: 0rem, $direction: column) {
  display: flex;
  gap: $gap;
  flex-direction: $direction;
}

:root {
  font-size: clamp(14px, 1vw, 18px);
  --font-A: google-sans, system-ui;
  --font-B: roboto, system-ui;
  --bg: hsl(0, 100%, 100%);
  --text: hsl(0, 100%, 100%);
  --text-blue: hsl(215, 78%, 46%);
  --text-green: hsl(173, 81%, 42%); 
  --text-grey: hsl(0, 0%, 29%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

button {
  all: unset;
  cursor: pointer;
  width: fit-content;
}

main {
  width: 100%;
  height: 100%;
  @include flex-box();
}

section {
  width: 100%;
}

section.hero {
  position: relative;
  background-image: radial-gradient(
      ellipse at bottom,
      hsl(215, 78%, 46%) 5%,
      transparent 60%
    ),
    linear-gradient(136deg, transparent, hsl(199, 79%, 69%) 290%),
    linear-gradient(115deg, hsl(242, 76%, 77%), transparent 40%),
    linear-gradient(180deg, transparent 0, hsl(215, 78%, 46%) 70%),
    radial-gradient(
      ellipse at -70% -180%,
      transparent 80%,
      hsl(199, 79%, 69%) 0
    ),
    radial-gradient(ellipse at bottom, hsl(215, 78%, 46%) 40%, transparent 80%),
    radial-gradient(ellipse at 5% 340%, transparent 80%, hsl(237, 71%, 85%) 0);
  padding: 10rem 0rem 6rem;
  .container {
    @include flex-box(0rem, column);
    text-align: center;
    align-items: center;
    overflow: hidden;

    h1 {
      color: var(--text);
      font-family: var(--font-A);
      font-size: 3.286rem;
      margin-bottom: 5rem;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 866px;
      gap: 0rem;
      position: relative;

      .image-box1 {
        position: relative;
        top: 90px;
        .card {
          position: absolute;
          border-radius: 0.7rem;
          object-fit: cover;
          object-position: center;
          box-shadow: 0px 16px 48px hsla(0, 2%, 8%, 0.342);

          &:nth-child(1) {
            width: 525px;
            height: 312px;
            right: 0;
            top: -10px;
          }

          &:nth-child(2) {
            width: 201px;
            height: 296px;
            right: 221px;
            top: 430px;
          }

          &:nth-child(3) {
            width: 201px;
            height: 296px;
            right: 0;
            top: 322px;
          }
        }
      }
      .image-box2 {
        position: relative;
        width: 286px;
        height: 842px;
        @include flex-box(0rem, row);
        justify-content: center;
        .card {
          width: 250px;
          height: 519px;
          box-shadow: 0px 16px 48px hsla(0, 2%, 8%, 0.342);
          border-radius: 1.5rem;
        }
      }
      .image-box3 {
        position: relative;
        top: 90px;

        .card {
          position: absolute;
          border-radius: 0.7rem;
          object-fit: cover;
          object-position: center;
          box-shadow: 0px 16px 48px hsla(0, 2%, 8%, 0.342);

          &:nth-child(1) {
            width: 201px;
            height: 296px;
            left: 0;
          }

          &:nth-child(2) {
            width: 482px;
            height: 296px;
            left: 221px;
            top: 110px;
          }

          &:nth-child(3) {
            width: 201px;
            height: 296px;
            left: 0;
            top: 316px;
          }

          &:nth-child(4) {
            width: 201px;
            height: 296px;
            left: 221px;
            top: 426px;
          }
        }
      }
    }
  }

  .get-started {
    @include flex-box(2.901rem, column);
    align-items: center;
    text-align: center;

    h2 {
      color: var(--text);
      font-family: var(--font-A);
      font-weight: 400;
      font-size: 2.5rem;
      max-width: 880px;
    }

    button {
      background-color: var(--bg);
      color: var(--text-blue);
      font-family: var(--font-A);
      text-transform: capitalize;
      font-weight: 700;
      padding: 0.8rem 2.35rem;
      border-radius: 50px;
      font-size: 1rem;
      scale: 1;
    }
  }
}

section.tabs {
  padding-top: 5rem;

  .container {
    width: calc(100% - (50px * 2));
    max-width: 1280px;
    margin: auto;

    .tab-header {
      @include flex-box(3.2rem, column);
      align-items: center;
      text-align: center;
      margin-bottom: 3rem;

      h2 {
        font-family: var(--font-A);
        font-weight: 300;
        font-size: 2.27rem;
        max-width: 800px;
      }

      .tab-menu {
        background-color: hsl(210, 17%, 98%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        border-radius: 50px;
        text-wrap: nowrap;
        
        button {
          white-space: nowrap;
          width: fit-content;
          font-family: var(--font-A);
          background-color: transparent;
          padding: .7rem 2.2rem;
          color: var(--text-blue);
          font-weight: 600;
          font-size: 1rem;
          border-radius: 50px;
        }

        button.active {
          background-color: var(--text-blue);
          color: var(--text);
        }

      }
    }

    .tab-content {
      display: grid;
      grid-template-columns: 1fr;
      
      .media {
        height: 100%;
        @include flex-box(0rem);
        width: 100%;
        align-items: center;
        justify-content: center;
        
        video {
          width: 100%;
        }
      }
      
      .text {
        padding: 1.5rem;
        
        h3 {
          font-family: var(--font-A);
          color: var(--text-green);
          font-size: 2.3rem;
          margin-bottom: 1.5rem;
        }

        p {
          font-family: var(--font-A);
          color: var(--text-grey);
          font-size: 1.3rem;
          margin-bottom: 2rem;
        }

        button {
          border: 1px solid var(--text-blue);
          width: fit-content;
          padding: 0.8rem 2.2rem;
          font-family: var(--font-A);
          color: var(--text-blue);
          border-radius: 50px;
          font-weight: 600;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  section.hero {
    .container {

      h1 {
        font-size: 4.3rem;
      }

      .gallery {
        width: 1152px;
        gap: 2rem;
        .image-box2 {
          width: 368px;
          height: 768px;
          .card {
            width: 100%;
            height: auto;
          }
        }
      }

      .get-started {
        margin-top: 10rem;
        h2 {
          padding: 0 1rem;
        }
      }
    }
  }

  section.tabs {

    .container {
      .tab-header {
        .tab-menu {
          .menu {
            button {
              padding: 0.7rem 3.5rem;
            }
          }
        }
      }

      .tab-content {
      grid-template-columns: 1fr 350px;

      .text {
        align-content: center;
      }
    }
    
  }
    
  }
}
