// Font-faces

@font-face {
  font-family: google-sans;
  src: url("./fonts/google-sans.woff2");
}

@font-face {
  font-family: roboto;
  src: url("./fonts/roboto.woff2");
}

// Mixins

@mixin flex(
  $gap: 0,
  $direction: column,
  $align: flex-start,
  $justify: flex-start
) {
  display: flex;
  gap: $gap;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin fluid-font($min, $mid, $max) {
  font-size: clamp($min, $mid, $max);
}

// Root Variables

:root {
  font-size: clamp(14px, 0.8vw, 18px);

  --font-A: google-sans, system-ui;
  --font-B: roboto, system-ui;

  --bg: hsl(210, 17%, 98%);
  --text-white: hsl(0, 0%, 100%);
  --text-blue: hsl(215, 78%, 46%);
  --text-green: hsl(173, 81%, 42%);
  --text-grey: hsl(0, 0%, 29%);

  --radius-card: 0.7rem;
  --radius-large: 50px;

  --shadow-card: 0 4px 16px hsla(0, 2%, 8%, 0.192);
}

// Resetting styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

// Global Styles

button {
  all: unset;
  cursor: pointer;
  width: fit-content;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-family: var(--font-A);
  @include fluid-font(2.4rem, calc(1.8rem + 1vw), 3.6rem);
  color: var(--text-white);
}

h2 {
  font-family: var(--font-A);
  @include fluid-font(1.8rem, calc(1.3rem + 0.7vw), 2.7rem);
}

h3 {
  font-family: var(--font-A);
  @include fluid-font(1.5rem, calc(1.1rem + 0.5vw), 2.1rem);
}

p {
  font-family: var(--font-A);
  @include fluid-font(1rem, calc(0.8rem + 0.3vw), 1.25rem);
}

// Main Layout Style

main {
  width: 100%;
  @include flex();
  overflow: hidden;
}

section {
  width: 100%;
}

// Hero section

.hero {
  padding: 10rem 0 6rem;

  background-image: radial-gradient(
      ellipse at bottom,
      hsl(215, 78%, 46%) 5%,
      transparent 60%
    ),
    linear-gradient(136deg, transparent, hsl(199, 79%, 69%) 290%),
    linear-gradient(115deg, hsl(242, 76%, 77%), transparent 40%),
    linear-gradient(180deg, transparent 0, hsl(215, 78%, 46%) 70%),
    radial-gradient(
      ellipse at -70% -180%,
      transparent 80%,
      hsl(199, 79%, 69%) 0
    ),
    radial-gradient(ellipse at bottom, hsl(215, 78%, 46%) 40%, transparent 80%),
    radial-gradient(ellipse at 5% 340%, transparent 80%, hsl(237, 71%, 85%) 0);

  .container {
    max-width: 1024px;
    margin: auto;
    @include flex(0, column, center, center);
    text-align: center;

    h1 {
      padding-bottom: 6rem;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: min(90%, 1150px);
      position: relative;
      gap: 2rem;
    }
  }
}

.card {
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
  object-fit: cover;
  object-position: center;
}

.image-box1 {
  position: relative;
  top: 110px;

  .card:nth-child(1) {
    width: 525px;
    height: 312px;
    right: 0;
    top: -10px;
    position: absolute;
  }
  .card:nth-child(2) {
    width: 201px;
    height: 296px;
    right: 221px;
    top: 432px;
    position: absolute;
  }
  .card:nth-child(3) {
    width: 201px;
    height: 296px;
    right: 0;
    top: 324px;
    position: absolute;
  }

  .card:nth-child(4) {
    width: 201px;
    height: 296px;
    right: 0;
    top: 322px;
    position: absolute;
  }
}

.image-box2 {
  position: relative;
  width: 286px;
  height: 842px;
  place-self: center;
  @include flex(row, 0);

  .card {
    width: 100%;
    height: auto;
    border-radius: clamp(1.5rem, 2rem, 2.7rem);
  }
}

.image-box3 {
  position: relative;
  top: 110px;

  .card:nth-child(1) {
    width: 201px;
    height: 296px;
    left: 0;
    top: 0;
    position: absolute;
  }
  .card:nth-child(2) {
    width: 482px;
    height: 296px;
    left: 221px;
    top: 110px;
    position: absolute;
  }
  .card:nth-child(3) {
    width: 201px;
    height: 296px;
    left: 0;
    top: 316px;
    position: absolute;
  }
  .card:nth-child(4) {
    width: 201px;
    height: 296px;
    left: 221px;
    top: 426px;
    position: absolute;
  }
}

.get-started {
  position: relative;
  z-index: 5;
  @include flex(2.5rem, column, center, center);
  text-align: center;
  margin-top: 5rem;

  h2 {
    font-weight: 300;
    max-width: 880px;
    color: var(--text-white);
    padding-inline: 1rem;
  }

  button {
    background: var(--bg);
    color: var(--text-blue);
    font-family: var(--font-A);
    font-weight: 700;
    padding: 0.8rem 2.3rem;
    border-radius: var(--radius-large);
    @include fluid-font(0.9rem, calc(0.84rem + 0.2vw), 1.1rem);
  }
}

// tabs section

.tabs {
  padding-top: 5rem;

  .container {
    width: calc(100% - 100px);
    margin: auto;
  }

  .tab-header {
    @include flex(3rem, column, center, center);
    text-align: center;
    margin-bottom: 3rem;

    h2 {
      max-width: 850px;
      font-weight: 300;
    }

    .tab-menu {
      background-color: var(--bg);
      display: flex;
      border-radius: var(--radius-large);
      text-wrap: nowrap;

      button {
        padding: 0.7rem 2.2rem;
        font-family: var(--font-A);
        font-weight: 600;
        color: var(--text-blue);
        border-radius: var(--radius-large);
        @include fluid-font(1rem, calc(0.9rem + 0.2vw), 1.1rem);
      }

      button.active {
        background: var(--text-blue);
        color: var(--text-white);
      }
    }
  }

  .tab-content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    max-width: 1100px;
    margin-inline: auto;

    .media {
      @include flex(0, column, center, center);
      video {
        width: 100%;
      }
    }

    .text {
      padding: clamp(1rem, 1vw, 1.5rem);

      h3 {
        color: var(--text-green);
        font-weight: 600;
      }

      p {
        color: var(--text-grey);
        font-weight: 500;
        margin-block: 1.5rem;
      }

      button {
        font-family: var(--font-A);
        color: var(--text-blue);
        border: 1px solid var(--text-blue);
        padding: 0.8rem 2.2rem;
        border-radius: var(--radius-large);
        font-weight: 600;
      }
    }
  }
}

// feature section
.feature {
  
  .container {
    width: calc(100% - 50px);
    margin: auto;
  }

  .feature-box {
    
  }
}

// media queries

@media (min-width: 1024px) {
  .hero .container {
    .get-started {
      margin-top: 10rem;
    }
    & .gallery {
      .image-box2 {
        width: 368px;
      }
    }
  }

  .tabs .tab-content {
    grid-template-columns: 1fr 350px;
  }
}
