// Font-faces

@font-face {
  font-family: google-sans;
  src: url("./fonts/google-sans.woff2");
}

@font-face {
  font-family: roboto;
  src: url("./fonts/roboto.woff2");
}

// Mixins

@mixin flex(
  $gap: 0,
  $direction: column,
  $align: flex-start,
  $justify: flex-start
) {
  display: flex;
  gap: $gap;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin fluid-font($min, $mid, $max) {
  font-size: clamp($min, $mid, $max);
}

// Root Variables

:root {
  font-size: clamp(14px, 0.8vw, 18px);

  --font-A: google-sans, system-ui;
  --font-B: roboto, system-ui;

  --bg: hsl(210, 17%, 98%);
  --text-white: hsl(0, 0%, 100%);
  --text-white: hsl(0, 0%, 0%);
  --text-blue: hsl(215, 78%, 46%);
  --text-green: hsl(173, 81%, 42%);
  --text-grey: hsl(0, 0%, 29%);
  --text-purple: hsl(263, 87%, 60%);
  --text-orange: hsl(5, 86%, 63%);

  --radius-card: 0.7rem;
  --radius-large: 50px;

  --shadow-card: 0 4px 16px hsla(0, 2%, 8%, 0.192);
}

// Resetting styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

// Global Styles

button {
  all: unset;
  cursor: pointer;
  width: fit-content;
  font-family: var(--font-A);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-family: var(--font-A);
  @include fluid-font(2.4rem, calc(1.8rem + 1vw), 3.6rem);
  color: var(--text-white);
}

h2 {
  font-family: var(--font-A);
  @include fluid-font(1.8rem, calc(1.3rem + 0.7vw), 2.7rem);
}

h3 {
  font-family: var(--font-A);
  @include fluid-font(1.5rem, calc(1.1rem + 0.5vw), 2.1rem);
}

h4 {
  font-family: var(--font-A);
  @include fluid-font(1.3rem, calc(0.9rem + 0.4vw), 1.8rem);
}

p {
  font-family: var(--font-A);
  @include fluid-font(1rem, calc(0.8rem + 0.3vw), 1.25rem);
}

// Main Layout Style

main {
  width: 100%;
  @include flex();
  overflow: hidden;
}

section {
  width: 100%;
}

// Hero section

.hero {
  padding: 10rem 0 6rem;

  background-image: radial-gradient(
      ellipse at bottom,
      hsl(215, 78%, 46%) 5%,
      transparent 60%
    ),
    linear-gradient(136deg, transparent, hsl(199, 79%, 69%) 290%),
    linear-gradient(115deg, hsl(242, 76%, 77%), transparent 40%),
    linear-gradient(180deg, transparent 0, hsl(215, 78%, 46%) 70%),
    radial-gradient(
      ellipse at -70% -180%,
      transparent 80%,
      hsl(199, 79%, 69%) 0
    ),
    radial-gradient(ellipse at bottom, hsl(215, 78%, 46%) 40%, transparent 80%),
    radial-gradient(ellipse at 5% 340%, transparent 80%, hsl(237, 71%, 85%) 0);

  .container {
    max-width: 1024px;
    margin: auto;
    @include flex(0, column, center, center);
    text-align: center;

    h1 {
      padding-bottom: 6rem;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: min(90%, 1150px);
      position: relative;
      gap: 2rem;
    }
  }
}

.card {
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
  object-fit: cover;
  object-position: center;
}

.image-box1 {
  position: relative;
  top: 110px;

  .card:nth-child(1) {
    width: 525px;
    height: 312px;
    right: 0;
    top: -10px;
    position: absolute;
  }
  .card:nth-child(2) {
    width: 201px;
    height: 296px;
    right: 221px;
    top: 432px;
    position: absolute;
  }
  .card:nth-child(3) {
    width: 201px;
    height: 296px;
    right: 0;
    top: 324px;
    position: absolute;
  }

  .card:nth-child(4) {
    width: 201px;
    height: 296px;
    right: 0;
    top: 322px;
    position: absolute;
  }
}

.image-box2 {
  position: relative;
  width: 286px;
  height: 842px;
  place-self: center;
  @include flex(row, 0);

  .card {
    width: 100%;
    height: auto;
    border-radius: clamp(1.5rem, 2rem, 2.7rem);
  }
}

.image-box3 {
  position: relative;
  top: 110px;

  .card:nth-child(1) {
    width: 201px;
    height: 296px;
    left: 0;
    top: 0;
    position: absolute;
  }
  .card:nth-child(2) {
    width: 482px;
    height: 296px;
    left: 221px;
    top: 110px;
    position: absolute;
  }
  .card:nth-child(3) {
    width: 201px;
    height: 296px;
    left: 0;
    top: 316px;
    position: absolute;
  }
  .card:nth-child(4) {
    width: 201px;
    height: 296px;
    left: 221px;
    top: 426px;
    position: absolute;
  }
}

.get-started {
  position: relative;
  z-index: 5;
  @include flex(2.5rem, column, center, center);
  text-align: center;
  margin-top: 5rem;

  h2 {
    font-weight: 300;
    max-width: 880px;
    color: var(--text-white);
    padding-inline: 1rem;
  }

  button {
    background: var(--bg);
    color: var(--text-blue);
    font-family: var(--font-A);
    font-weight: 700;
    padding: 0.8rem 2.3rem;
    border-radius: var(--radius-large);
    @include fluid-font(0.9rem, calc(0.84rem + 0.2vw), 1.1rem);
  }
}

// tabs section

.tabs {
  padding-top: 5rem;

  .container {
    width: calc(100% - 75px);
    max-width: 1100px;
    margin-inline: auto;
  }

  .tab-header {
    @include flex(3rem, column, center, center);
    text-align: center;
    margin-bottom: 3rem;

    h2 {
      max-width: 850px;
      font-weight: 300;
    }

    .tab-menu {
      background-color: var(--bg);
      display: flex;
      border-radius: var(--radius-large);
      text-wrap: nowrap;

      button {
        padding: 0.7rem 2.2rem;
        font-family: var(--font-A);
        font-weight: 600;
        color: var(--text-blue);
        border-radius: var(--radius-large);
        @include fluid-font(1rem, calc(0.9rem + 0.2vw), 1.1rem);
      }

      button.active {
        background: var(--text-blue);
        color: var(--text-white);
      }
    }
  }

  .tab-content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    max-width: 900px;
    width: calc(100% - 25px);
    margin-inline: auto;

    .media {
      @include flex(0, column, center, center);
      video {
        width: 100%;
      }
    }

    .text {
      padding: clamp(1rem, 1vw, 1.5rem);

      h3 {
        color: var(--text-green);
        font-weight: 600;
      }

      p {
        color: var(--text-grey);
        font-weight: 500;
        margin-block: 1.5rem;
      }

      button {
        font-family: var(--font-A);
        color: var(--text-blue);
        border: 1px solid var(--text-blue);
        padding: 0.8rem 2.2rem;
        border-radius: var(--radius-large);
        font-weight: 600;
      }
    }
  }
}

// feature section
.feature {
  .container {
    max-width: 1100px;
    width: calc(100% - 50px);
    margin-inline: auto;
  }

  .feature-box {
    display: grid;
    grid-template-columns: 1fr;
    padding-block: 3rem;

    .media {
      margin-bottom: 3rem;
      overflow: hidden;
      order: 1;
      width: fit-content;

      img {
        max-width: 550px;
      }
    }

    .text {
      padding: 1rem;
      order: 2;
      font-family: var(--font-A);
      align-self: center;
    }
  }

  .feature-box {
    max-width: 1100px;
    margin-inline: auto;
    .text {
      padding: 1rem;
      h4 {
        margin-bottom: 0.5rem;
      }

      h2 {
        margin-bottom: 2rem;
      }

      p {
        max-width: 90%;
        line-height: 1.5;
        margin-bottom: 2rem;
      }

      button {
        color: var(--text-blue);
        border: 1px solid var(--text-blue);
        padding: 0.8rem 2.2rem;
        border-radius: var(--radius-large);
        font-weight: 600;
      }
    }

    &:nth-child(1) .text h4 {
      color: var(--text-blue);
    }

    &:nth-child(2) .text h4 {
      color: var(--text-green);
    }

    &:nth-child(3) .text h4 {
      color: var(--text-purple);
    }

    &:nth-child(4) .text h4 {
      color: var(--text-orange);
    }
  }
}

// dev stroy section

.dev-story {
  padding-block: 3rem;

  .container {
    background-image: linear-gradient(
      90deg,
      hsl(360, 100%, 76%),
      hsl(42, 81%, 88%)
    );
    border-radius: 40px;
    max-width: 1100px;
    width: calc(100% - 50px);
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;

    .text {
      padding: 3rem;

      h2 {
        margin-block: 1rem 2rem;
        font-weight: 400;
      }

      button {
        font-weight: 500;
      }
    }

    .media {
      position: relative;
      z-index: 1;

      img {
        max-height: 385px;
      }
    }
  }
}

// community section

.community {
  overflow: hidden;
  padding-block: 3rem;

  .container {
    height: 715px;
    padding-top: 2rem;
    text-align: center;
    max-width: 1100px;
    width: calc(100% - 50px);
    margin-inline: auto;
    --center-piece: 220px;

    .logo-ground {
      @include flex(0, column, center, center);
      height: 535px;
    }

    .text {
      position: relative;
      text-align: center;
      top: -195px;
      z-index: 3;
    }
  }
}

.logo-ground .inner-fixed {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr var(--center-piece) 1fr 1fr 1fr;
  height: 100%;

  .logo-col {
    position: relative;

    div {
      background-color: var(--bg);
      width: 100px;
      height: 100px;
      padding: 18px;
      border-radius: 10px;
      margin-bottom: 24px;
      box-shadow: 0px 0px 16px hsla(0, 0%, 0%, 0.1);
      display: grid;
      place-items: center;
    }

    div img {
      height: auto;
      max-width: 100%;
    }

    &:nth-child(1),
    &:nth-child(7) {
      top: -24px;
    }

    &:nth-child(2),
    &:nth-child(6) {
      top: -48px;
    }
    &:nth-child(3),
    &:nth-child(5) {
      top: 60px;
    }
  }

  .logo-col.logo-centerpiece div {
    height: 220px;
    width: 220px;
    padding: 30px;
  }
}

.community .container .text {
  .heading-group {
    max-width: 780px;
    margin: 0 auto 2rem;
    h4 {
      font-weight: 500;
    }

    h1 {
      color: var(--text-black);
      line-height: 1;
    }
  }

  p {
    margin: 0 auto 2rem;
    max-width: 500px;
  }

  .button-group {
    @include flex(1rem, row, center, center);
    button {
      font-weight: 500;
      &:nth-child(1) {
        border: 1px solid var(--text-blue);
        color: var(--text-blue);
        padding: 0.5rem 2.2rem;
        border-radius: 50px;
      }
    }
  }
}

// media queries

@media (min-width: 1024px) {
  .hero .container {
    .get-started {
      margin-top: 10rem;
    }
    & .gallery {
      .image-box2 {
        width: 368px;
      }
    }
  }

  .tabs .tab-content {
    grid-template-columns: 1fr 350px;
  }

  .feature .container {
    .feature-box {
      grid-template-columns: 1fr 1fr;

      .media img {
        max-width: 450px;
      }

      .media {
        order: 2;
      }

      .text {
        order: 1;
      }
    }

    .inverse {
      .media {
        order: 1;
      }
      .text {
        order: 2;
      }
    }
  }

  .dev-story .container {
    grid-template-columns: 1fr minmax(0, 441px);
    min-height: 315px;

    .media {
      img {
        position: absolute;
        width: auto;
        right: 0;
        bottom: 0;
      }
    }
  }
}
