@font-face {
  font-family: google-sans;
  src: url("./fonts/google-sans.woff2");
}

@font-face {
  font-family: roboto;
  src: url("./fonts/roboto.woff2");
}

@mixin flex-box($gap: 0rem, $direction: column) {
  display: flex;
  gap: $gap;
  flex-direction: $direction;
}

:root {
  --font-A: google-sans, system-ui;
  --font-B: roboto, system-ui;
  font-size: clamp(14px, 1vw, 18px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --text: hsl(0, 100%, 100%);
  --bg: hsl(0, 100%, 100%);
  --text-blue: hsl(215, 78%, 46%);
}

html,
body {
  height: 100%;
  width: 100%;
}

button {
  all: unset;
  cursor: pointer;
  width: fit-content;
}

main {
  width: 100%;
  height: 100%;
  @include flex-box();
}

section {
  width: 100%;
}

section.hero {
  position: relative;
  background-image: radial-gradient(
      ellipse at bottom,
      hsl(215, 78%, 46%) 5%,
      transparent 60%
    ),
    linear-gradient(136deg, transparent, hsl(199, 79%, 69%) 290%),
    linear-gradient(115deg, hsl(242, 76%, 77%), transparent 40%),
    linear-gradient(180deg, transparent 0, hsl(215, 78%, 46%) 70%),
    radial-gradient(
      ellipse at -70% -180%,
      transparent 80%,
      hsl(199, 79%, 69%) 0
    ),
    radial-gradient(ellipse at bottom, hsl(215, 78%, 46%) 40%, transparent 80%),
    radial-gradient(ellipse at 5% 340%, transparent 80%, hsl(237, 71%, 85%) 0);
  overflow-x: hidden;
  padding: 1rem;
  padding-top: 10rem;

  .container {
    @include flex-box(5rem, column);
    text-align: center;
    align-items: center;

    h1 {
      color: var(--text);
      font-family: var(--font-A);
      font-size: 3rem;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0rem;
      .image-box1 {
        position: relative;
        .card {
          position: absolute;
          border-radius: 0.7rem;
            &:nth-child(1) {
              right: 0;
              top: 90px;
              width: 33.5rem;
            }

            &:nth-child(2) {
              width: 12.5rem;
              height: 18.5rem;
              bottom: -80px;
              right: 220px;
            }

            &:nth-child(3) {
              width: 12.5rem;
              height: 18.5rem;
              bottom: 40px;
              right: 0px;
            }
          }
        }
        .image-box2 {
          position: relative;
          width: 18rem;
          height: 48rem;
          .card {
            width: 22.5rem;
            width: 16rem;
          }
        }
        .image-box3 {
          position: relative;

          .card {
            position: absolute;
            border-radius: 0.7rem;

            &:nth-child(1) {
              width: 12.5rem;
              height: 18.5rem;
              left: 0;
              top: 100px;
            }

            &:nth-child(2) {
              left: 220px;
              top: 220px;
              width: 30.5rem;
            }

            &:nth-child(3) {
              bottom: 60px;
              left: 0;
              width: 12.5rem;
              height: 18.5rem;
            }

            &:nth-child(4) {
              left: 220px;
              bottom: -70px;
              width: 12.5rem;
              height: 18.5rem;
            }
          }
        }
      }
    }

    .get-started {
      @include flex-box(3rem, column);
      align-items: center;
      text-align: center;

      h2 {
        color: var(--text);
        font-family: var(--font-A);
        font-weight: 500; 
        font-size: 2rem;
      }

      button {
        background-color: var(--bg);
        color: var(--text-blue);
        font-family: var(--font-B);
        text-transform: capitalize;
        font-weight: 700;
        padding: .8rem 2.2rem;
        border-radius: 50px;
        font-size: .9rem;
      }
    }
  }

