@font-face {
  font-family: google-sans;
  src: url("./fonts/google-sans.woff2");
}
@font-face {
  font-family: roboto;
  src: url("./fonts/roboto.woff2");
}
:root {
  font-size: clamp(14px, 0.8vw, 18px);
  --font-A: google-sans, system-ui;
  --font-B: roboto, system-ui;
  --bg: hsl(0, 0%, 100%);
  --text-white: hsl(0, 0%, 100%);
  --text-blue: hsl(215, 78%, 46%);
  --text-green: hsl(173, 81%, 42%);
  --text-grey: hsl(0, 0%, 29%);
  --radius-card: 0.7rem;
  --radius-large: 50px;
  --shadow-card: 0 4px 16px 18px hsla(0, 2%, 8%, 0.192);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

button {
  all: unset;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-family: var(--font-A);
  font-size: clamp(2.4rem, 1.8rem + 1vw, 3.6rem);
  color: var(--text-white);
}

h2 {
  font-family: var(--font-A);
  font-size: clamp(1.8rem, 1.3rem + 0.7vw, 2.7rem);
}

h3 {
  font-family: var(--font-A);
  font-size: clamp(1.5rem, 1.1rem + 0.5vw, 2.1rem);
}

p {
  font-family: var(--font-A);
  font-size: clamp(1rem, 0.8rem + 0.3vw, 1.25rem);
}

main {
  width: 100%;
  display: flex;
  gap: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

section {
  width: 100%;
}

.hero {
  padding: 10rem 0 6rem;
  background-image: radial-gradient(ellipse at bottom, hsl(215, 78%, 46%) 5%, transparent 60%), linear-gradient(136deg, transparent, hsl(199, 79%, 69%) 290%), linear-gradient(115deg, hsl(242, 76%, 77%), transparent 40%), linear-gradient(180deg, transparent 0, hsl(215, 78%, 46%) 70%), radial-gradient(ellipse at -70% -180%, transparent 80%, hsl(199, 79%, 69%) 0), radial-gradient(ellipse at bottom, hsl(215, 78%, 46%) 40%, transparent 80%), radial-gradient(ellipse at 5% 340%, transparent 80%, hsl(237, 71%, 85%) 0);
}
.hero .container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero .container h1 {
  padding-bottom: 6rem;
}
.hero .container .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min(90%, 1150px);
  position: relative;
}

.card {
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.image-box1 {
  position: relative;
  top: 110px;
}
.image-box1 .card:nth-child(1) {
  width: 525px;
  height: 312px;
  right: 0;
  top: -10px;
  position: absolute;
}
.image-box1 .card:nth-child(2) {
  width: 201px;
  height: 296px;
  right: 221px;
  top: 432px;
  position: absolute;
}
.image-box1 .card:nth-child(3) {
  width: 201px;
  height: 296px;
  right: 0;
  top: 324px;
  position: absolute;
}
.image-box1 .card:nth-child(4) {
  width: 201px;
  height: 296px;
  right: 0;
  top: 322px;
  position: absolute;
}

.image-box2 {
  position: relative;
  width: 286px;
  height: 842px;
  display: flex;
  gap: row;
  flex-direction: 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-box2 .card {
  width: 100%;
  height: auto;
  border-radius: 1.5rem;
}

.image-box3 {
  position: relative;
  top: 110px;
}
.image-box3 .card:nth-child(1) {
  width: 201px;
  height: 296px;
  left: 0;
  top: 0;
  position: absolute;
}
.image-box3 .card:nth-child(2) {
  width: 482px;
  height: 296px;
  left: 221px;
  top: 110px;
  position: absolute;
}
.image-box3 .card:nth-child(3) {
  width: 201px;
  height: 296px;
  left: 0;
  top: 316px;
  position: absolute;
}
.image-box3 .card:nth-child(4) {
  width: 201px;
  height: 296px;
  left: 221px;
  top: 426px;
  position: absolute;
}

.get-started {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
}
.get-started h2 {
  font-weight: 400;
  max-width: 880px;
  color: var(--text-white);
}
.get-started button {
  background: var(--bg);
  color: var(--text-blue);
  font-family: var(--font-A);
  font-weight: 700;
  padding: 0.8rem 2.3rem;
  border-radius: var(--radius-large);
  font-size: clamp(0.9rem, 0.84rem + 0.2vw, 1.1rem);
}/*# sourceMappingURL=style.css.map */